<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gotcha!</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            background-color: black;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <img src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif" alt="Rickroll Gif">
</body>
</html>